[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysqlitecipher = "*"
docker = "*"
pysqlcipher3 = "*"
flask = "*"
flask-cors = "*"
PyYAML = "*"

[dev-packages]

[requires]
python_version = "3.10"